.about_container h2,
.about_container p {
    // margin-left: 4rem;
    font-family: (--fnt-play);
}

.about_container h2 {
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: var(--fnt-play);
}

.about_container p {
    margin-top: 2vh;
    font-size: 1.25rem;
    font-family: var(--fnt-mont);
    line-height: 1.5;
}

.about_images_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin: 5%;

    .about_flex_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 100%;
        border-radius: 10px;
        width: 100%;
    }

    .about_image_ingo {
        background-image: url("../img/Ingo.png");
    }

    .about_image_kadi {
        background-image: url("");
    }

    .about_image_cipi {
        background-image: url("../img/cipi_sepia.jpg");
    }

    .about_image_headline {
        // margin-left: 0;

    }

}

@media only screen and (max-width: 600px) {
    .about_images_container {
        grid-template-columns: repeat(1, 1fr);
        margin: 5rem 2%;

    }
}