.addName {
    margin: 5px 0;
}

.addCategory {
    margin: 5px 0;
}

.addURL {
    margin: 5px 0;
}

.addInstructions {
    margin: 5px 0;
}

.addIngredient1 {
    margin: 5px 0;
}

.addMeasure1 {
    margin: 5px 0;
}

.addIngredient2 {
    margin: 5px 0;
}

.addMeasure2 {
    margin: 5px 0;
}

.addIngredient3 {
    margin: 5px 0;
}

.addMeasure3 {
    margin: 5px 0;
    margin-bottom: 25px;
}

.submitBtn {
    margin-top: 5px;
}

.submitAdd {
    border-radius: 8px;
    border: none;
    padding: 6px;
    letter-spacing: 1px;
    color: white;
    background-color: #8D82C4;
    font-family: 'Montserrat', sans-serif;
}

.submitAdd:hover {
    box-shadow: 1px 1px 0px #8D82C4;
    text-decoration: underline;
    font-weight: bold;
}

.inputFeldAdd {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.goBackBttn {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}


.goBack:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px whitesmoke;
}

.inputArticle {
    flex-basis: 40%;
    text-align: center;
}


.addCocktailSection {
    display: flex;
    justify-content: space-between;
}


.divBilder {
    justify-content: right;
    flex-basis: 60%;
}

.div_img1 {
    content: url("../img/image\ 9.png");
    padding-top: 60px;
}

.div_img2 {
    content: url("../img/image\ 10.png");
    padding-left: 63%;
    padding-bottom: 10vh;
}

.div_img3 {
    content: url("../img/image\ 11.png");
    padding-bottom: 10vh;
}