
.addYourCocktail_container {

    a {
        color: white;
        transition: all 300ms;
    }

    form div input,
    form div textarea {
        width: 80%;
    }
}

.addCokeDiv {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.addCokeDiv:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px whitesmoke;
}


.form_add_cocktail {

    input,textarea {
        border-radius: 5px;
        margin: 5px 0;
    }
}

.submitBtn {
    margin-top: 2rem;
}

.submitAdd {
    border-radius: 10px;
    border: none;
    padding: 6px;
    letter-spacing: 1px;
    color: #fff;
    background-color: var(--clr-2);
    font-family: 'Montserrat', sans-serif;
}

.submitAdd:hover {
    box-shadow: 1px 1px 0px var(--clr-2);
    text-decoration: underline;
    font-weight: bold;
}

.inputFeldAdd {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Montserrat', sans-serif;
}

.goBackBttn {
    padding: 10rem 0 0 0;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
}

.goBack:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px whitesmoke;
}

.inputArticle {
    flex-basis: 40%;
    text-align: center;
    padding: 0 5%;
}


.addCocktailSection {
    display: flex;
    justify-content: space-between;
}

.addCocktail_imgs {
    position: relative;
    flex-basis: 60%;
    margin: 0 5rem 0 0;
}

.addCocktail_img {
    position: absolute;
    transform: scale(1.1);
    z-index: 1;
}

.addCocktail_img_1 {
    content: url("../img/image\ 9.png");
    top: 4rem;
    left: 4rem;
}

.addCocktail_img_2 {
    content: url("../img/image\ 10.png");
    top: -5rem;
    left: 60%;
}

.addCocktail_img_3 {
    content: url("../img/image\ 11.png");
    top: 30rem;
    left: 10rem;
}