.cocktail_list {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
        width: 50%;
    }

    grid-auto-rows: 1fr;
}

.cocktail_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-block: 2rem;
}

.cocktail_list_item_img {
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.cocktail_list_item_name {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    h3 {
        font-family: var(--fnt-mont);
        font-size: 2.8rem;
        text-align: center;
        writing-mode: vertical-rl;
        text-orientation: sideways;
        height: 26rem;
    }
}

.item_left {
    flex-direction: row;
    padding-left: 10%;
}

.item_right {
    flex-direction: row-reverse;
    padding-right: 10%;
}

//GIN
.style1 {
    background-color: var(--clr-1);
    height: 32vh;
    padding: 100px 65px;
}

//VODKA
.style2 {
    background-color: var(--clr-2);
    height: 32vh;
    padding: 100px 65px;
}

//RUM
.style3 {
    background-color: var(--clr-3);
    height: 32vh;
    padding: 100px 65px;
}

//SCOTCH
.style4 {
    background-color: var(--clr-4);
    height: 32vh;
    padding: 100px 65px;
}


//NONALK
.style5 {
    background-color: var(--clr-5);
    height: 32vh;
    padding: 100px 65px;
}

//RANDOM
.style6 {
    background-color: var(--clr-6);
    height: 32vh;
    padding: 100px 65px;
}