.cocktail_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    img {
        width: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
        object-position: center;
    }
}

.cocktail_list_item {
    display: flex;
    cursor: pointer;
    h3 {
        font-family: var(--fnt-mont);
        writing-mode: vertical-rl
    }
}

.item_left {
    flex-direction: row;
}

.item_right {
    flex-direction: row-reverse;
}

.style1 {
    background-color: var(--clr-1);
}
.style2 {
    background-color: var(--clr-2);
}
.style3 {
    background-color: var(--clr-3);
}
.style4 {
    background-color: var(--clr-4);
}
.style5 {
    background-color: var(--clr-5);
}
.style6 {
    background-color: var(--clr-6);
}
