.detail_modal {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    height: 50vh;
    width: 90%;
    // width: clamp(50%, 700px, 90%);
    // height: min(50%, 300px);
    background-color: var(--clr-main);
    z-index: 3;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

.modal_x {
    text-align: right;
    span {
        display: inline-block;
        margin: 0 0 0 auto;
        text-align: right;
        cursor: pointer;
    }
}

.modal_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}