.footer {
    height: 30vh;
    background: #262B46;
    padding: 80px 70px;
}

.h2Footer {
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    padding-bottom: 35px;
}

.pFooter {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    line-height: 2.5rem;
}