.head_menu_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5% 0 5%;
    height: 10rem;
}

.navbarMenu {
    font-family: 'Playfair Display', serif;

    button {
        border: none;
        background-color: #262B46;
        color: white;
        font-family: var(--fnt-mont);
        cursor: pointer;
    }

    // OVERLAY MENU

    .nav {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20vh;
        height: 100vh;
        background-color: #262B46;
        width: 100vw;
        transform: translateY(-150%);
        position: absolute;
        transition: transform 500ms;
        margin-top: 2vh;

        ul {
            list-style: none;

            li {
                line-height: 1.5;
                font-weight: bold;
                font-size: 6rem;
                text-align: center;
                transition: color 400ms;

                &:hover {
                    color: var(--clr-1)
                }
            }
        }
    }

    .nav_active {
        transform: translateY(0%);
        z-index: 10;
    }
}

.burger_container {
    display: none;
}

.burger_menu_x {
    display: none;
}

.p1Nav {
    letter-spacing: 2px;
    font-weight: bold;
}

.p2Nav {
    font-family: var(--fnt-mont);
}

.headerTextSection {
    margin: 10rem 5rem;
}

.h1Header {
    font-size: 4.5rem;
    padding-bottom: 0.5rem;
}

.pHeader {
    font-family: var(--fnt-mont);
    font-size: 1.25rem;
}


@media only screen and (max-width: 600px) {

    .head_menu_flex {
        padding: 1rem 5% 0 5%;
    }

    .Menu {
        display: none;
    }

    .burger_container {
        display: block;
        display: flex;
        justify-content: flex-end;
        text-align: right;
        padding: 0 5%;
    }

    .burger {
        cursor: pointer;
        width: 25px;
        height: 2px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
    }

    .burger_menu_x {
        display: block;
    }


}