.search {
    padding: 0 5% 0 5%;
}

.search_flex {
    display: flex;
    gap: 10rem;
}

.search_box {
    width: 100%;
    max-width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    position: relative;
}

.search_icon {
    color: var(--clr-main);
    vertical-align: middle;
    flex-basis: 20%;
    position: absolute;
    z-index: 3;
}

.search_input {
    width: 100%;
    line-height: 1;
    position: relative;
    border: none;
    font-size: 1.6rem;
    background-color: #fff;
    height: 100%;
    padding: 0 0 0 5rem;
    border-radius: 10px;
    z-index: 2;
}

.search_input:focus {
    outline-style: none;
}

.search_suggestions {
    opacity: 0;
    list-style: none;
    position: absolute;
    width: 100%;
    z-index: 1;
    color: #868e96;
    text-align: center;
    background-color: #fff;
    font-size: 1.4rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    top: 2rem;

    li {
        cursor: pointer;
        border-bottom: 1px solid grey;
        padding: 1.5rem 0;
        transition: transform 200ms ;

        &:last-child {
            border: none;
        }
        &:hover {
            color: #6FC3DF;
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
        }
    }
}

.search_invalid {
    flex-basis: 50%;
    
    h3 {
        font-size: 2rem;
        margin-bottom: 1em;
    }
    
    p {
        font-size: 1.6rem;
        line-height: 1.4;
    }

    button {
        margin-top: 3rem;
        display: inline-block;
        background-color: #6FC3DF;
        font-size: 1.6rem;
        padding: 5px 15px;
        border-radius: 10px;
        border: none;
        color: #fff;
    }
}

.caret_double {
    display: block;
    text-align: center;
    padding: 5rem 0 2.5rem 0;
}