.search {
    padding: 0 0 0 5%;
}

.input_feld {
    // margin: 14.5rem;
    padding: 5px;
    border-radius: 17px;
}

.search_button {
    background-color: #6FC3DF;
    padding: 5px 15px;
    border-radius: 7px;
    border: 0px;
}

.caret_double {
    display: block;
    text-align: center;
    padding: 5rem 0 2.5rem 0;
}