@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --clr-main: #262B46;
    --clr-1: #6FC3DF;
    --clr-2: #8D82C4;
    --clr-3: #EC8D81;
    --clr-4: #E7B788;
    --clr-5: #8EA9E8;
    --clr-6: #87C5A4;

    --fnt-play: 'Playfair Display', serif;
    --fnt-mont: 'Montserrat', sans-serif;
}

body {
    background-color: var(--clr-main);
    font-family: var(--fnt-mont);
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

// =========================================================================
//                                  FONTS
// ========================================================================= 


.home_list_item {
    h2 {
        font-family: var(--fnt-play);
        font-size: 5rem;
        font-weight: 700;
    }

    p {
        font-size: 1.4rem;
    }
}


// =========================================================================
//                              GENERAL COMPONTENT STYLINGS
// ========================================================================= 

a {
    color: inherit;
    text-decoration: none;
}

.submit_hover {
    transition: all 300ms linear;
    box-shadow: 4px 4px 0px black;
}

.submit_hover:hover {
    box-shadow: 0px 0px 2px black;
    background-color: #809DD1;
    box-shadow: 10px ;
    transform: translate(4px, 4px);
}

@media only screen and (max-width: 600px) {

    // DRINKS&CHILL 

    .navbar {
        font-size: 1.25rem;
    }

    .p1Nav {
        letter-spacing: 2px;
        margin: 0 auto;
    }
}

.no-overflow {
    overflow: hidden;
}