@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --clr-main: #262B46;
    --clr-1: #6FC3DF;
    --clr-2: #8D82C4;
    --clr-3: #EC8D81;
    --clr-4: #E7B788;
    --clr-5: #8EA9E8;
    --clr-6: #87C5A4;

    --fnt-play: 'Playfair Display', serif;
    --fnt-mont: 'Montserrat', sans-serif;
}

body {
    background-color: var(--clr-main);
    font-family: var(--fnt-mont);
    color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

// =========================================================================
//                                  FONTS
// ========================================================================= 


.home_list_item {
    h2 {
        font-family: var(--fnt-play);
        font-size: 5rem;
        font-weight: 700;
    }

    p {
        font-size: 1.4rem;
    }
}


// =========================================================================
//                              GENERAL COMPONTENT STYLINGS
// ========================================================================= 

a {
    color: inherit;
    text-decoration: none;
}

.list_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}

.addYourCocktail_container {
    background-color: #262B46;
    padding-left: 20px;


    a {
        color: white;
    }

    form div input,
    form div textarea {
        width: 85%;
    }
}

// NAVIGATIONS MENU

.head_menu_flex {
    display: flex;
    justify-content: space-between;
    padding: 5rem 5% 0 5%;
}

.navbarMenu {
    font-family: 'Playfair Display', serif;

    button {
        border: none;
        background-color: #262B46;
        color: white;
        font-family: Montserrat;
        cursor: pointer;
    }

    nav {
        margin-top: 2vh;
    }

    nav ul {
        list-style: none;
    }

    nav ul li {
        line-height: 1.5;
        font-weight: bold;
        font-size: 6rem;
        text-align: center;
    }

    .nav {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20vh;
        height: 100vh;
        background-color: #262B46;
        width: 100vw;
        transform: translateY(-150%);
        position: absolute;
        transition: transform 500ms;
    }

    .nav_active {
        transform: translateY(0%);
        z-index: 10;
    }
}

.addCokeDiv {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.addCokeDiv:hover {
    text-decoration: underline;
    text-shadow: 1px 1px 2px whitesmoke;
}


@media only screen and (max-width: 600px) {
    .list_grid {
        grid-template-columns: 1fr;
    }

    // burger button
    .Menu {
        display: none;
    }

    .burger_container {
        margin-top: 5%;
    }

    .burger {
        position: relative;
        cursor: pointer;
        left: 85%;
        width: 35px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        margin: 6px 0;
    }

    // DRINKS&CHILL 

    .navbar {
        // display: flex;
        // justify-content: space-between;
        font-size: 1.25rem;
    }

    .p1Nav {
        letter-spacing: 2px;
        margin: 0 auto;
    }
}

.no-overflow {
    overflow: hidden;
}